body {
    background: linear-gradient(to right, #5f6caf, #8ec5fc);
    font-family: Arial, sans-serif;
    background: url("blurred-gradient-background-pink-color_58702-1643.avif") no-repeat center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;

}

.login-card {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    width: 350px;
    color: white;
    backdrop-filter: blur(10px);
}

input {
    border-radius: 20px !important;
    text-align: center;
}

button {
    border-radius: 20px !important;
}

a {
    color: #cce7ff;
    text-decoration: underline;
}

#result {
    font-weight: bold;
}
